*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
    --white: #FAF6F0;
    --brownlight: #8C6A5D;
    --brown: #5F374B;
    --browndark: #430A5D;
}
body{
    background-color: var(--white);
}

#title, #author, #description{
    width: 400px;
    padding: 3px;
    font-size: 15px;
}

#areadescription{
    width: 400px;
    resize: none;
    height: 120px;
}